<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

</head>
<body>

{% if is_logged_in %}

<nav>
 <div class="nav-grid-container">
       <div class="grid-item">
    <h1>Recipe Catalog</h1></div>
             <div class="nav-grid-item">
      <button class="login-button" type="button">
<a href='{{url_for('gdisconnect')}}'>Logout</a>
            </button>
                  </div>
        </div>
</nav>

<div class="grid-container">
   <div class="grid-item">
<h2>Select category</h2>

{% for i in categories %}
<div>
  <p> <a href='{{url_for('categoryList',category_id = i.id )}}'>{{i.name}}</a></p>
</div>
{% endfor %}
</div>
   <div class="grid-item">
<h2>Latest recipes</h2>

{% for i in recipes %}
<div>
    <p><a href='{{url_for('showRecipe', category_id = i.category_id, recipe_id = i.id )}}'>{{i.name}}</a></p>
</div>
{% endfor %}
</div>
    </div>

{% else %}

<nav>
 <div class="nav-grid-container">
       <div class="grid-item">
    <h1>Recipe Catalog</h1></div>
             <div class="nav-grid-item">
      <button class="login-button" type="button" class="btn btn-primary btn-lg">
<a href='{{url_for('showLogin')}}'>Login</a>
            </button>
                  </div>
        </div>
</nav>

<div class="grid-container">
   <div class="grid-item">
<h2>Select category</h2>

{% for i in categories %}
<div>
  <p> <a href='{{url_for('categoryList',category_id = i.id )}}'>{{i.name}}</a></p>
</div>
{% endfor %}
</div>
   <div class="grid-item">
<h2>Latest recipes</h2>

{% for i in recipes %}
<div>
    <p><a href='{{url_for('showRecipe', category_id = i.id, recipe_id = i.id )}}'>{{i.name}}</a></p>
</div>
{% endfor %}
</div>
    </div>

{% endif %}
</body>
</html>